################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GisDay2013/bin
/GisDay2013/obj
