body {
}

#map {
    height: 450px;
    border: 1px solid #ccc;
}

#attr-form {
    min-height: 100%;
    border: 1px solid #ccc;
}

.input-group-addon {
    min-width: 8em;
    text-align: left;
}

.my-fluid-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
}

@media (min-width: 980px ) {
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}

